.places {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 12px;
}
@media screen and (max-width:1024px) {
  .places {
    max-width: 928px;
  }
}
@media screen and (max-width:768px) {
  .places {
    max-width: 720px;
    padding: 15px 0 0;
  }
}
@media screen and (max-width:320px) {
  .places {
    padding: 14px 0 0;
  }
}
