
.cover {
  max-width: 1184px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.cover:hover .cover__background {
  opacity: 0.3;
  transition: opacity 0.5s linear;
}
